@keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}

header{
    display: flex;
    padding: 12px;
    position: fixed;
    background: transparent;
    justify-content: space-between;
    width: 100%;
    z-index: 1000;
}
header.with-background {
    background: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
header.with-background i{
    color: #000;
}
header.with-background h3{
    color: #000;
}
header input{
    padding: 15px;
    font-size: 15px;
    width: 700px;
    border: none;
    display: none;
}
header input.show{
    display: block;
    background: #EEEEEE;
    animation: slideInFromLeft 0.55s ease forwards;
}

.left{
    display: flex;
    justify-content: center;
    padding-left: 25px;
    gap: 15px;
}
/* .left i{
    font-size: 30px;
    height: 40px;
    color: #fff;
} */
.left h3{
    font-size: 30px;
    color: #fff;
}

.right{
    display: flex;
    justify-content: center;
    padding-right: 25px;
    gap: 15px;
}
.right button{
    font-size: 18px;
    border-radius: 30px;
    padding: 10px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.login{
    color: #000;
    background: #fff;
}
.login a{
    text-decoration: none;
    color: #000;
}
.login i{
    font-size: 15px;
    color: #000;
}
.signup a{
    text-decoration: none;
    color: #fff;
}
.signup{
    color: #fff;
    background: #000;
}
.login:hover{
    background: wheat;
    cursor: pointer;
}
.signup:hover{
    background: #1F1D1B;
    cursor: pointer;
}

@media (max-width: 640px){
    header{
        position: fixed;
        width: 100%;
        align-items: left;
        /* justify-content: space-evenly; */
    }
    header input.show{
        display: none;
    }
    .left{
        align-items: center;
        padding-left: 10px;
        gap: 10px;
    }
    .left h3{
        font-size: 18px;
        color: #fff;
    }
    .right button{
        font-size: 13px;
        border-radius: 150px;
        padding: 7px;
        border: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
}