.loginsignup{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.body{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 330px;
    text-align: center;
    /* align-items: center; */
    /* justify-content: center; */
}
.body h3{
    font-size: 26px;
    font-weight: 350;
    margin-bottom: 10px;
    text-align: left;
}
.body input{
    border: none;
    background-color: #D4D4D4;
    font-size: 16px;
    padding: 13px;
    border-radius: 8px;
    margin-bottom: 12px;
}
.body button{
    cursor: pointer;
}
.black{
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    padding: 13px;
    border-radius: 8px;
    margin-bottom: 12px;
}
.black:hover{
    background: #1F1D1B;
}
.grey{
    border: none;
    color: #000;
    font-size: 16px;
    padding: 13px;
    border-radius: 8px;
    margin-bottom: 12px;
}
.grey:hover{
    background-color: #D4D4D4;
}
.qr{
    border: none;
    background-color: transparent;
    color: #000;
    font-size: 16px;
    padding: 13px;
    border-radius: 8px;
    margin-bottom: 8px;
}
.qr:hover{
    background-color: #D4D4D4;
}

.bxl-facebook{
    font-size: 19px;
    color: #fff;
    background-color: #3C5A99;
}

.divider {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}
  
hr {
    flex: 1;
    border: none;
    border-top: 1px solid #000;
    margin: 0;
}
  
.or{
    padding: 0 10px;
}

.body span{
    margin-bottom: 28px;
    font-size: 18px;
}
.body p{
    font-size: 14px;
}